# Flutter/Dart build artifacts
.dart_tool/
.flutter-plugins-dependencies
.packages
.pub/
build/
.local-dev/
*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS/macOS
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/
